<!DOCTYPE HTML>
<html>
<head lang="en">
  <meta charset="utf-8">
  <title>TODO List App</title>
  <link rel="stylesheet" href="vendor/bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="app/css/main.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
</head>
<body ng-app="app">

<section class="app">
  

  <header class="page-header">
    <h3 class="page-header__heading">My App</h3>
  </header>

  <section class="app__wrapper" ng-controller="HeaderHolderController as todoList">
    
    <ul class="item-holder">
      
      <li class="item-holder__header panel panel-info" ng-repeat="header in todoList.headers">
        <div class="panel-heading">{{ header.headerTitle }}</div>
        <div class="panel-body">{{ header.description }}</div>
        <span class="item-holder__arrow glyphicon glyphicon-chevron-right"></span>
      </li>
      
      <div class="new-item__wrapper">
        <li class="item-holder__header panel panel-info" ng-show=true>
          <input type="text" class="item-holder__new-header panel-heading" placeholder="Add a title for your new list"></input>
          <input type="text" class="item-holder__new-description panel-body" placeholder="Add a description for your new list"></input>
        </li>
        <div style="text-align: right">
          <button class="new-item__cancel btn btn-danger">Cancel</button>
          <button class="new-item__save btn btn-success">Save</button>
        </div>
      </div>

    </ul>

    <button class="add-item btn btn-success pull-right">+</button>


  </section>



</section>

<script src="vendor/bower_components/jquery/dist/jquery.min.js"></script>
<script src="vendor/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="vendor/bower_components/angularjs/angular.min.js"></script>
<script src="vendor/bower_components/angular-route/angular-route.min.js"></script>
<script src="app/js/app.js"></script>
<!-- <div ng-repeat="items in header.todo">
  <label><input type="checkbox" name="" id="">{{ items.itemTitle }}</label>
</div> -->
</body>
</html>